altgraph==0.16.1
aniso8601==1.3.0
backports.functools-lru-cache==1.5
backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.5.3
camelot-py==0.7.1
certifi==2017.7.27.1
chardet==3.0.4
Click==7.0
cloudpickle==0.8.0
courseraprogramming==0.16.0
cycler==0.10.0
dask==1.1.4
decorator==4.4.0
dis3==0.1.2
distro==1.3.0
docker==2.5.1
docker-pycreds==0.2.1
dockerfile-parse==0.0.5
et-xmlfile==1.0.1
Flask==0.12.2
Flask-RESTful==0.3.6
funcsigs==1.0.2
future==0.16.0
geocoder==1.17.3
gevent==1.2.1
ghostscript==0.6
google-api-python-client==1.6.2
greenlet==0.4.12
httplib2==0.10.3
idna==2.6
ijson==2.3
imutils==0.5.1
ipaddress==1.0.17
itsdangerous==0.24
jdcal==1.4
Jinja2==2.10
kiwisolver==1.0.1
lxml==3.7.3
macholib==1.11
Markdown==2.6.8
markdown-checklist==0.4.1
MarkupSafe==1.0
matplotlib==2.2.4
mock==2.0.0
mpmath==0.19
networkx==2.2
numpy==1.15.4
oauth2client==4.0.0
olefile==0.44
opencv-python==4.0.0.21
openpyxl==2.5.12
pandas==0.23.4
pbr==1.10.0
pdf2image==1.4.0
pdfminer.six==20181108
peewee==2.9.1
pefile==2018.8.8
pep8==1.7.0
Pillow==4.3.0
protobuf==3.1.0
pyasn1==0.2.3
pyasn1-modules==0.0.8
pycryptodome==3.7.2
PyInstaller==3.4
pymdown-extensions==2.0
pyparsing==2.1.5
pyPdf==1.13
PyPDF2==1.26.0
python-dateutil==2.7.5
python-Levenshtein==0.12.0
pytz==2018.9
PyWavelets==1.0.2
ratelim==0.1.6
requests==2.18.4
rsa==3.4.2
scikit-image==0.14.2
scipy==1.2.1
semver==2.6.0
six==1.12.0
sortedcontainers==2.1.0
stevedore==1.20.0
subprocess32==3.5.3
sympy==1.0
tabula-py==1.3.1
TBB==0.1
tensorboard==1.0.0a6
toolz==0.9.0
uritemplate==3.0.0
urllib3==1.24.1
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
websocket-client==0.37.0
Werkzeug==0.12.2
xlrd==1.2.0
